:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

.attribution { font-size: 11px; text-align: center; margin-top: 40px;
color: rgba(255,255,255, .8); }
.attribution a { color: var(--soft-magenta);
text-decoration: none; }

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-color: var(--violet);
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.icons {
    text-align: left;
    width: 10em;
    margin: 25px 10px 0 10px;
}

.icons img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bg-image {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.bg-image img {
    width: 100%;
    object-fit: cover;
}

.illustrations-container {
    height: 350px;
    padding: 0 30px;
}

.illustrations-container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.text__h1-container {
    padding: 0 25px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.text__h1 {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
}

.text-content {
    margin: 0 15px;
    line-height: 1.5;
    color: #fff;
}

.text__paragraph {
    opacity: .9;
    margin-bottom: 20px;
    padding: 0 20px;
    max-width: 500px;
}

.btn-container {
    font-weight: bold;
}

.btn-container:hover > .btn {
    background-color: var(--soft-magenta);
    color: #fff;
}

.btn-container:active {
    opacity: .8;
}


.btn {
    box-sizing: border-box;
    transition: background-color .3s;
    width: 50%;
    cursor: pointer;
    height: 100%;
    padding: 13px 0;
    border-radius: 9999px;
    border: none;
    background-color: #fff;
    color: var(--violet);
    box-shadow: 0px 2px 1px rgba(0,0,0,.2);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.socials {
    margin-top: 20px;
    display: flex;
    max-height: 50px;
    justify-content: center;
    
}

.social-icon {
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #fff;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.social__logolink:hover > .social-icon {
    filter: invert(55%) sepia(83%) saturate(2571%) hue-rotate(281deg) brightness(91%) contrast(100%);
}

.main-content__wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../images/bg-desktop.svg");
        background-size: cover;
    }

    .main-content__wrapper {
        flex-direction: row;
        align-items: center;
    }

    .illustrations-container {
        height: auto;
    }

    .text-content {
        text-align: left;
        max-width: 500px;
    }

    .text__h1-container {
        padding: 0;
        font-size: 1.2em;
    }

    .text__paragraph {
        padding: 0;
    }

    .socials {
        position: absolute;
        bottom: 15px;
        right: 5px;
    }
}